<div class="div-parent">
  <div class="div-intro">
    <div>
      <div class="div-text">Senior Software Engineer</div>
      <div class="div-text-large">Hello, my name is Harish RN</div>
      <div class="div-secondary-large">
        A wild Senior Full-stack developer who believes he can give quality
        solutions in MERN (MongoDB, ExpressJS, ReactJS, and NodeJS), Angular and
        Android.
      </div>
    </div>
    <div class="div-button-row">
      <button class="primary-button" [routerLink]="['experience']">
        Experience
      </button>
      <button class="secondary-button" (click)="navigate()">LinkedIn</button>
    </div>
  </div>
  <img src="assets/image-with-yellow-bg.png" alt="image" />
  <div></div>
</div>
