.div-intro {
  padding-top: 8vh;
  margin-left: 5rem;
  width: 500px;
  height: auto;
  border: aqua;
}

.div-text {
  color: #fdc844;
  font-size: 2.5vh;
  font-weight: bold;
}

.div-text-large {
  font-size: 6vh;
  margin-top: 1vh;
}

.div-secondary-large {
  font-size: max(2.5vh, 24px);
  color: #828282;
  margin-top: 4vh;
}

.div-button-row {
  display: flex;
  flex-direction: row;
  margin-top: 4vh;
  height: 50px;
  width: 275px;
  justify-content: space-between;
}

img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

@media (max-width: 1100px) {
  img {
    visibility: hidden;
  }
}

@media (max-width: 600px) {
  .div-intro {
    margin-left: 2rem;
    margin-right: 2rem;
    width: auto;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .div-button-row {
    flex-direction: column;
    height: 150px;
    justify-content: space-evenly;
    width: 100%;
  }
}
