<div class="div-parent">
  <div>
    <div class="div-title">
      <div class="title-text">Skills</div>
      <div class="bottom-bar"></div>
    </div>
    <div class="grid-wrapper">
      <img class="grid-box" src="/assets/mongodb-150.png" />
      <img class="grid-box" src="/assets/express-js-150.png" />
      <img class="grid-box" src="/assets/react-150.png" />
      <img class="grid-box" src="/assets/nodejs-150.png" />
      <img class="grid-box" src="/assets/angularjs-150.png" />
      <img class="grid-box" src="/assets/android-os-150.png" />
      <img class="grid-box" src="/assets/typescript-150.png" />
      <img class="grid-box" src="/assets/java-150.png" />
    </div>
  </div>

  <div>
    <div class="div-title">
      <div class="title-text">Projects</div>
      <div class="bottom-bar"></div>
    </div>
    <div class="large-card-list" *ngFor="let cardDetails of cards">
      <large-card-component
        title="{{ cardDetails.title }}"
        description="{{ cardDetails.description }}"
        company="{{ cardDetails.company }}"
        image="{{ cardDetails.image }}"
      >
      </large-card-component>
    </div>
  </div>
</div>
